#show-tips{
	background-color: white;
	position: fixed;
	left: 100px;
	top: 100px;
	border-radius: 2px;
	display: none;
	min-height: 20px;
	min-width: 100px;
	max-height: 280px;
	overflow: auto;
}
#show-tips h6{
	text-align: center;
	margin: 8px 0 0;
	font-weight: 500;
}
#show-tips ul{
	margin: 8px 6px 10px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: rgba(204, 204, 204, 0.55);
}

#show-tips li{
	position: relative;
	line-height: 18px;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
}
#show-tips li span:hover i{
	display: inline-block;
}
#show-tips li:nth-child(2n+1){
	background-color: #faf9f9;
}
#show-tips li label{
	width: 90px;
	display: inline-block;
	text-align: right;
	border-right: 1px solid #ccc;
	padding: 2px 4px;

}
#show-tips li span, #show-tips li input{
	padding: 2px 16px 2px 4px;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	width: 300px;
	cursor: pointer;
	min-height: 20px;
}
#show-tips li input{
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -11px;
	display: none;
}
#show-tips li input:focus{
	border-color: #75e375;
	outline: none;
	border-width: 1px;
	box-shadow: 1px 1px 2px #75e375;
}
#show-tips li span i{
	display: none;
	position: absolute;
	top: 4px;
	right: 2px;
	width: 12px;
	height: 12px;
	background-image: url("images/edit3.png");
  	background-size: 12px 12px;
  	background-repeat: no-repeat;
}
#show-tips .close{
	position: absolute;
	right: 6px;
	top: 4px;
	font-size: 12px;
	color: grey;
	cursor: pointer;
}
.wd-break{
	word-break: break-all;
	word-wrap: word-break;
}
.clearfix:after{
	clear: both;
	content: '';
	display: block;
	width: 0;
	height: 0;
	visibility: hidden;
}
a{
	text-decoration: underline;
	color: #0066cc;
}
a:hover{
	color: #2e8ff0;
}